footer{
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center ;
    span{
        text-align: center;
        color: palevioletred;
        font-size: 20px;
    }


}